.Contact {
  width: 100%;
  height: 20.625rem;
  margin-bottom: 1.875rem;
  background: $oc-gray-0;
  padding-top: 5.625rem;
  #contact-wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 43.75rem;
    flex-direction: column;
  }
  #contact-list {
    margin-top: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-item {
    h3 {
      color: $oc-gray-7;
      margin-bottom: 0.125rem;
    }
    a {
      font-weight: 300;
      padding-bottom: 0.125rem;
      border-bottom: 1px solid $oc-teal-6;
      color: $oc-gray-7;
    }
  }

  @include media('<large') {
    height: 25rem;
    padding-top: 3.75rem;
    #contact-wrapper {
      flex-direction: column;
      align-items: center;
      h2 {
        display: none;
      }
    }
    #contact-list {
      width: 13.75rem;
      flex-direction: column;
      justify-content: center;
    }
    .contact-item {
      margin-bottom: 1.438rem;
      h3 {
        margin-bottom: 0;
      }
      .contact-url {
        font-size: 1.063rem;
      }
    }
  }

  @include media('<=small') {
    padding-top: 3.75rem;
  }
}
