.Project {
  .project-item {
    margin-bottom: 9.375rem;
  }
  .slider {
    width: 100%;
    margin-bottom: 2.813rem;
    .slick-list {
      background-color: #7ed4a5;
      height: 32.813rem;
    }
    .slider-image {
      width: 100%;
      height: auto;
      background-color: #7ed4a5;
      object-fit: cover;
    }
    .slick-prev {
      left: 0.75rem;
      z-index: 10;
    }
    .slick-next {
      right: 0.75rem;
    }
    .slick-dots {
      bottom: -1.875rem;
    }
  }
  .list-title {
    font-weight: 500;
  }
  .project-document-link {
    margin-bottom: 1.25rem;
    a {
      color: $oc-teal-8;
      font-size: 1.063rem;
    }
  }
  .project-service-detail {
    background: $oc-gray-1;
    padding: 1.125rem;
    margin-bottom: 1.75rem;
    p {
      line-height: 1.8em;
    }
  }
  .position-projectInfo {
    margin-top: 1.25rem;
    padding-left: 1.125rem;
    border-left: 2px solid $oc-teal-6;
    p {
      color: $light-gray;
      margin-bottom: 0.25rem;
      line-height: 1.5em;
    }
  }

  .project-single-image {
    width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
  }

  #project-experience {
    margin-top: 1.875rem;
    line-height: 1.8em;
  }

  @include media('<large') {
    .slider {
      .slider-image {
        width: 100%;
        height: 525px;
      }
      .slick-list {
        height: 525px;
      }
    }
  }

  @include media('<=small') {
    .slider {
      .slick-prev {
        left: 0.438rem;
      }
      .slick-next {
        right: 0.438rem;
      }
    }
    .project-document-link {
      a {
        font-size: 0.938rem;
      }
    }
  }
}
