.Skills {
  .skill-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.313rem;
  }
  .skill-label {
    flex: 0 0 10rem;
    color: $light-gray;
  }

  @include media('<=small') {
    .skill-list {
      display: block;
      margin-bottom: 0.563rem;
    }
    .skill-label {
      margin-bottom: 0.125rem;
    }
    .skill-items {
      margin-left: 0.625rem;
    }
  }
}
