.Skills {
  .skill-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  .skill-label {
    flex: 0 0 160px;
    color: $light-gray;
  }

  @include media('<=small') {
    .skill-list {
      display: block;
      margin-bottom: 9px;
    }
    .skill-label {
      margin-bottom: 2px;
    }
    .skill-items {
      margin-left: 10px;
    }
  }
}
