.Videos {
  .list-title {
    font-weight: 500;
    &.video-list-title {
      margin-top: 80px;
    }
  }
  .video-title {
    margin-top: 20px;
    margin-bottom: 10px;
    &.click {
      display: none;
    }
  }
  .video {
    width: 100%;
    height: auto;
    border: 1px solid $oc-gray-3;
    margin-bottom: 10px;
  }

  // @include media('<medium') {
  //   .video-list-title {
  //     display: none;
  //   }
  //   .video-title {
  //     display: none;
  //   }
  //   .video-title-wrapper {
  //     margin-top: 40px;
  //   }
  //   .video-title {
  //     &.click {
  //       display: inline-block;
  //       margin: 0;
  //       padding-bottom: 7px;
  //     }
  //   }
  //   .video {
  //     display: none;
  //   }
  // }

  // @include media('<=small') {
  //   .video-title {
  //     &.click {
  //       font-size: 17px;
  //     }
  //   }
  // }
}
