.Works {
  margin-top: 55px;
  // margin-bottom: 100px;
  .contribute-list {
    list-style: none;
    padding-left: 12px;
    margin-left: 5px;
    margin-top: 18px;
  }
  .contribute {
    margin-bottom: 15px;
    line-height: 1.6em;
    font-size: 17px;
    &::before {
      content: '•';
      color: $oc-teal-7;
      display: inline-block;
      width: 1.3em;
      margin-left: -1.3em;
    }
  }

  @include media('<=small') {
    .contribute {
      font-size: 15px;
      &::before {
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}
