.Footer {
  margin-bottom: 30px;
  #copyright {
    text-align: center;
    #spoqa-han-sans-link {
      font-size: 15px;
      margin-left: 5px;
      color: $oc-teal-8;
    }
  }

  @include media('<=small') {
    #copyright {
      #spoqa-han-sans-link {
        font-size: 14px;
      }
    }
  }
}
