.Footer {
  margin-bottom: 1.875rem;
  #copyright {
    text-align: center;
    #spoqa-han-sans-link {
      font-size: 0.938rem;
      margin-left: 0.313rem;
      color: $oc-teal-8;
    }
  }

  @include media('<=small') {
    #copyright {
      #spoqa-han-sans-link {
        font-size: 0.875rem;
      }
    }
  }
}
