.Introduction {
  margin-top: 200px;
  #intro-description {
    margin-bottom: 40px;
  }

  @include media('>small', '<large') {
    margin-top: 150px;
  }

  @include media('<=small') {
    margin-top: 100px;
  }
}
