.Introduction {
  margin-top: 12.5rem;
  #intro-description {
    margin-bottom: 2.5rem;
  }

  @include media('>small', '<large') {
    margin-top: 9.375rem;
  }

  @include media('<=small') {
    margin-top: 6.25rem;
  }
}
