* {
  font-family: 'Spoqa Han Sans', 'Source Sans Pro', Apple SD Gothic Neo,
    '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Verdana, Arial, 'Sans-serif';
  font-weight: 300;
  box-sizing: border-box;
  word-break: keep-all;
  margin: 0;
  color: $oc-gray-9;
  line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a:focus,
button:focus {
  outline: 1px dashed $oc-green-5;
}

h1,
h2 {
  font-size: 2rem;
  line-height: 1.3em;
  margin-bottom: 1.25rem;
  @include media('<=small') {
    font-size: 1.625rem;
  }
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h4,
.description {
  font-size: 1.25rem;
}

h5,
.sub-information {
  font-size: 1.063rem;
}

.credit-text {
  font-size: 0.938rem;
  color: $oc-gray-7;
  line-height: 1.7em;
}

a {
  color: $oc-teal-8;
  text-decoration: none;
  font-weight: 500;
}

.main-section {
  max-width: 43.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12.5rem;
}

.btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.divider {
  background: $oc-teal-6;
  height: 2px;
  width: 12.5rem;
  margin-bottom: 1.25rem;
}

@include media('>small', '<large') {
  .main-section {
    max-width: 90%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 9.375rem;
  }
}

@include media('<=small') {
  font-size: 1.063rem;
  h2 {
    font-size: 1.625rem;
  }
  h4,
  .description {
    font-size: 1.063rem;
  }
  h5,
  .sub-information {
    font-size: 0.938rem;
  }
  .credit-text {
    font-size: 0.875rem;
  }
  .main-section {
    max-width: 90%;
    margin-bottom: 7.5rem;
  }
  .divider {
    width: 9.375rem;
  }
}
