@import '~include-media/dist/include-media';
@import '~open-color/open-color';

.Project {
  .project-item {
    margin-bottom: 120px;
  }
  .slider {
    width: 100%;
    margin-bottom: 35px;
    img {
      width: 100%;
      height: auto;
    }
    .slick-prev {
      left: 12px;
      z-index: 10;
    }
    .slick-next {
      right: 12px;
    }
  }
  .document-link {
    color: $oc-gray-6;
    font-size: 17px;
    font-weight: 500;
  }
  .positions {
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
    border-left: 2px solid $oc-gray-3;
  }
  .positions h5 {
    margin-bottom: 4px;
    line-height: 1.5em;
  }
  img {
    width: 100%;
    height: auto;
  }
  .project-single-image {
    margin-bottom: 20px;
  }
  #gif-list {
    margin-top: 50px;
  }
  .gif {
    border: 1px solid $oc-gray-3;
    margin-bottom: 50px;
  }
  #gif-list-title {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .gif-title,
  .gif-titles-click {
    margin-bottom: 10px;
  }
  .gif-titles-click {
    display: none;
  }
  .work {
    margin-bottom: 15px;
    line-height: 1.6em;
  }

  @include media('<tablet') {
    .slider {
      img {
        width: 100%;
        height: 530px;
        object-fit: cover;
      }
    }
    .gif-titles-click {
      display: none;
    }
  }

  @include media('<=547px') {
    .slider {
      .slick-prev {
        left: 7px;
      }
      .slick-next {
        right: 7px;
      }
    }
    .document-link {
      font-size: 14px;
    }
    #gif-list-title {
      display: none;
    }
    .gif {
      display: none;
    }
    .gif-title {
      display: none;
    }
    .gif-titles-click {
      display: block;
    }
  }
}
